{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">

    {% for product in products %}
      <div class="col s12 m6 l3">
        <a href="{% url 'product_detail' product_slug=product.slug %}">{{ product.name }}
          <img src="{{ product.product_images.first.image.url }}" width='200' height='300' alt="{{ product.name }}">
        </a>

        <div>Price: {{ product.price }}</div>
        <div> Brand: {{ product.brand }}</div>

        <div> Categories:
          {% for category in  product.categories.all %}
            <a href="{% url 'category_detail' category_slug=category.slug %}">{{ category }}</a>
            {% if forloop.last %}. {% else %},{% endif %}

          {% endfor %}
        </div>
      {% if forloop.counter|divisibleby:"4" %}
   </div>
      <div class="row">
      {% endif %}
    {% endfor %}
    </div>
  </div>

{% endblock %}
</div>